<div @slideIn class="p-3">
  <app-data-displayer (pageChange)="getData()" [loading]="loading">
    <span title>Punkty</span>
    <tr header>
      <th scope="col">#</th>
      <th scope="col">Nazwa</th>
    </tr>
    <ng-container body>
      @for(event of data; track event; let i = $index) {
      <tr>
        <th>{{ i + 1 }}</th>
        <td>{{ event.name }}</td>
      </tr>
      }@empty {
      <tr>
        <td colspan="20" class="text-center p-3">
          <b> Brak danych! </b>
        </td>
      </tr>
      }
    </ng-container>
  </app-data-displayer>
</div>
