<div @slideIn class="p-3">
  <div class="card">
    <div class="card-body">
      <div class="card-title d-flex justify-content-between mb-5">
        <h5>Konto</h5>
      </div>
      <div class="mb-5">
        <div class="card-title d-flex justify-content-between">
          <h6>Konfiguracja SMTP:</h6>
          <div class="buttons">
            <button
              class="btn btn-sm btn-outline-primary me-2"
              (click)="openSmtpConfigModal()"
            >
              {{ smtpConfig ? "Edytuj" : "Dodaj" }}
            </button>
          </div>
        </div>
        @if(smtpConfig){
        <ul class="list-group">
          <li
            class="list-group-item d-flex justify-content-between align-items-start"
          >
            <div class="ms-2 me-auto">
              <div class="fw-bold">Serwer:</div>
              {{ smtpConfig.host }}
            </div>
          </li>
          <li
            class="list-group-item d-flex justify-content-between align-items-start"
          >
            <div class="ms-2 me-auto">
              <div class="fw-bold">Port:</div>
              {{ smtpConfig.port }}
            </div>
          </li>
          <li
            class="list-group-item d-flex justify-content-between align-items-start"
          >
            <div class="ms-2 me-auto">
              <div class="fw-bold">Zabezpieczone:</div>
              <div class="checkbox disabled">
                <label class="switch">
                  <input
                    type="checkbox"
                    disabled
                    [checked]="smtpConfig.secure"
                  />
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
          </li>
        </ul>
        }@else {
        <ul class="list-group">
          <li
            class="list-group-item d-flex justify-content-between align-items-start"
          >
            <div class="ms-2 me-auto">Brak konfiguracji SMTP!</div>
          </li>
        </ul>
        }
      </div>

      <div>
        <div class="card-title d-flex justify-content-between">
          <h6>Dane użytkownika:</h6>
        </div>
        <ul class="list-group">
          <li
            class="list-group-item d-flex justify-content-between align-items-start"
          >
            <div class="ms-2 me-auto">
              <div class="fw-bold">Nazwa użytkownika:</div>
              {{ _auth.getUser()?.username || "---" }}
            </div>
          </li>
          <li
            class="list-group-item d-flex justify-content-between align-items-start"
          >
            <div class="ms-2 me-auto">
              <div class="fw-bold">Adres e-mail:</div>
              {{ _auth.getUser()?.email || "---" }}
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<app-loader [show]="loading"></app-loader>
