body {
  margin: 0;
  box-sizing: border-box;
  box-sizing: border-box;
  overflow-anchor: none;
  height: 100vh;
  min-height: 100vh;
}

a {
  cursor: pointer;
}

.btn {
  margin-right: 5px;
  margin-left: 5px;
}

.tab-content {
  transition: 0.5s ease-in-out;
  padding-left: 12%;

  @media (max-width: 576px) {
    padding-left: 0% !important;
  }

  @media (min-width: 576px) and (max-width: 992px) {
    padding-left: 20%;
  }

  @media (min-width: 922px) and (max-width: 1500px) {
    padding-left: 15%;
  }
}

.menu-closed {
  .tab-content {
    padding-left: 0% !important;
  }
  .side-bar {
    transform: translateX(-100%) !important;
  }
}
